# Core
fastapi
uvicorn[standard]
python-dotenv
pydantic

# Database
sqlalchemy[asyncio]>=1.4
asyncpg
alembic
psycopg2-binary

# Security
passlib[bcrypt]
python-jose[cryptography]

# Testing
pytest
httpx
